.all-memory-parent {
	background-image: url("../assets/images/backgrounds/bg-dot.png");
	background-color: #fff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 100px;
}

.all-memory-container {
	display: flex;
	width: 1335px;
	flex-wrap: wrap;
	justify-content: space-between;
	align-self: center;
}

.all-memory-display-container {
	width: 300px;
	height: 300px;
	margin-top: 40px;
	object-fit: cover;
}

.memory-containner {
	position: relative;
	transition: 0.5s;
}
.memory-containner:hover .memory-details {
	width: 300px;
	height: 305px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	position: absolute;
	bottom: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.memory-details {
	width: 300px;
	height: 305px;
	background-color: transparent;
	color: transparent;
	text-align: justify;
	position: absolute;
	bottom: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.description {
	display: -webkit-box;
	text-align: justify;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
	padding: 0px 15px;
}

.title {
	display: -webkit-box;
	text-align: justify;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	padding: 0px 15px;
}

@media (max-width: 1375px) {
	.all-memory-container {
		width: 935px;
	}

	.all-memory-display-container {
		width: 200px;
		height: 200px;
	}

	.memory-containner:hover .memory-details {
		width: 200px;
		height: 205px;
	}

	.memory-details {
		width: 200px;
		height: 205px;
	}
}

@media (max-width: 950px) {
	.all-memory-container {
		width: 735px;
	}

	.all-memory-display-container {
		width: 150px;
		height: 150px;
	}

	.memory-containner:hover .memory-details {
		width: 150px;
		height: 155px;
	}

	.memory-details {
		width: 150px;
		height: 155px;
	}

	.title {
		font-size: 12px;
	}
	.description {
		font-size: 12px;
	}
}

@media (max-width: 750px) {
	.all-memory-container {
		width: 615px;
	}

	.all-memory-display-container {
		width: 125px;
		height: 125px;
	}

	.memory-containner:hover .memory-details {
		width: 125px;
		height: 130px;
	}

	.memory-details {
		width: 125px;
		height: 130px;
	}

	.title {
		font-size: 10px;
	}
	.description {
		font-size: 10px;
	}
}

@media (max-width: 630px) {
	.all-memory-container {
		width: 435px;
	}

	.all-memory-display-container {
		width: 100px;
		height: 100px;
	}

	.memory-containner:hover .memory-details {
		width: 100px;
		height: 105px;
	}

	.memory-details {
		width: 100px;
		height: 105px;
	}

	.title {
		font-size: 8px;
	}

	.description {
		font-size: 8px;
	}
}
