.explore {
	background-image: url("../assets/images/backgrounds/bg-dot.png");
	background-color: #fff;

	.center-tab-parent {
		display: flex;
		justify-content: center;

		.tab-parent-container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			width: 1335px;
			background-color: black;
			color: white;
			margin-top: 20px;
		}

		.tab-option {
			width: 33%;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
		}

		.tab-option-selected {
			background-color: red;
			width: 250px;
			height: 5px;
			position: absolute;
			bottom: 0px;
		}

		.tab-option:hover {
			cursor: pointer;
			background-color: #323232;
		}

		.tab-option:active {
			background-color: #4b4b4b;
		}
	}
}
