.user-details-parent-container {
	background-image: url("../assets/images/backgrounds/bg-dot.png");
	background-color: #fff;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.user-details-top-container {
	// background-color: yellow;
	background-color: black;
	width: 1335px;
	height: 189px;
	display: flex;
}

.user-details-top-left-container {
	// background-color: blue;
	background-color: black;
	width: 1071px;
	height: 189px;
	display: flex;
	justify-content: space-between;
	padding: 15px 50px 15px 15px;
	align-items: flex-end;
}

.name-age-loc-container {
	// background-color: pink;
	background-color: black;
	width: fit-content;
	height: fit-content;
	text-align: right;
	color: white;
}

.img-container {
	width: 230px;
	height: 230px;
	background-color: gray;
	z-index: 1;
	border-radius: 100%;
	margin-top: 50px;
	object-fit: cover;
}

.user-details-btm-container {
	// background-color: green;
	background-color: white;
	width: 1335px;
	height: 111px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.bio-parent-container {
	// background-color: orange;
	background-color: white;
	width: 1071px;
	height: 111px;
	display: flex;
	flex-direction: row-reverse;
	padding: 15px 50px 15px 15px;
	min-height: 111px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.bio-output-container {
	width: 668px;
	text-align: right;
	font-weight: bold;
}

.side-menu-parent {
	position: sticky;
	top: 100px;
	z-index: 2;

	.side-menu-container {
		position: absolute;
		right: 20px;
		margin-top: 20px;
		display: flex;
		flex-flow: column;
		align-items: flex-end;
	}

	.add-btn {
		margin-top: 20px;
		width: 50px;
		height: 50px;
		margin-bottom: 15px;
	}

	.information-tigger-option-container {
		display: flex;
		flex-flow: column;
		align-items: flex-end;
		// background-color: green;
	}

	.information-trigger {
		width: 30px;
		height: 30px;
		// background-color: red;
		margin-bottom: 3px;
	}

	.information-option-container {
		display: none;
		// display: block;
		// background-color: green;
	}

	.information-option-container:hover {
		display: block;
	}

	.information-tigger-option-container:hover .information-option-container {
		display: block;

		// background-color: green;
	}

	.information-trigger:hover .information-option-container {
		display: block;
		// background-color: green;
	}

	.information-option {
		background-color: #1877f2;
		color: white;
		padding: 10px 20px;
		text-align: center;
		font-size: 12px;
		border: 1px solid white;
		border-right: 1px solid white;
		border-left: 1px solid white;
	}

	.information-option-first {
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}

	.information-option-last {
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
}

@media (max-width: 1375px) {
	.user-details-top-container {
		width: 935px;
	}

	.user-details-btm-container {
		width: 935px;
	}

	.bio-parent-container {
		width: 670px;
	}
	.img-container {
		margin-right: 35px;
	}
}

@media (max-width: 950px) {
	.user-details-top-container {
		width: 735px;
	}

	.user-details-btm-container {
		width: 735px;
	}

	.bio-parent-container {
		width: 470px;
	}
}

@media (max-width: 750px) {
	.user-details-top-container {
		width: 615px;
	}

	.user-details-btm-container {
		width: 615px;
	}

	.bio-parent-container {
		width: 375px;
	}

	.user-details-top-left-container {
		flex-direction: column;
		justify-content: space-evenly;
		padding: 15px 25px 15px 15px;
	}
	.bio-output-container,
	.name-age-loc-container {
		font-size: 12px;
	}
}

@media (max-width: 630px) {
	.user-details-top-container {
		width: 435px;
	}

	.user-details-btm-container {
		width: 435px;
	}

	.bio-parent-container {
		width: 225px;
	}
	.img-container {
		width: 200px;
		height: 200px;
	}
	.bio-output-container,
	.name-age-loc-container {
		font-size: 10px;
	}
}
